
<div id="profile_pic_div">
  <%=image_tag  @profile.profile_pic.url(:medium), :id =>"profile_pic" %>

<h1 ><%= @profile.name %></h1>
</div>

<h3 class="prof_detail_title">bio:</h3>
<h5> <%= @profile.bio %></h5>

<% if @profile.teacher %>
  <h3 class="prof_detail_title"><%= @profile.name %> is using this site as a platform to teach.</h3>
  <h3 class="prof_detail_title">Field of expertise:</h3>
  <h5><%= @profile.expertise %></h5>
  <h3 class="prof_detail_title">Past experience:</h3>
  <h5><%= @profile.experience %></h5>
  <% else %>
  <h3 class="prof_detail_title"><%= @profile.name %> is a student.</h3>
  <h3 class="prof_detail_title">Eager to learn</h3>
  <h5> <%= @profile.eager_to_learn %> </h5>
<% end %>
