<!DOCTYPE html>
<html>
  <head>
    <title>CapStone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= current_user.username %> | <%= link_to "Sign out", '/signout' %> | <%= link_to "Home", user_path(current_user) %> | <%= link_to "true home", '/' %> | <%= link_to "List of all users", '/all' %>
    <% else %>
      <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
    <% end %>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </body>
</html>
