<!DOCTYPE html>
<html>
  <head>
    <title>CapStone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <div class="container">


      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      </button>
      <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <% if current_user %>
              <%= link_to "Home", user_path(current_user) %> |
              <%= link_to "Sign out", '/signout', :class => "nav-item nav-link" %>|
              <%= link_to "List of All Users", '/all', :class => "nav-item nav-link" %>|
              <%= link_to "Your Conversations", conversations_path, :class => "nav-item nav-link" %>|
              <%= link_to "Update Profile", edit_user_path(current_user), :class => "nav-item nav-link" %>|
              <%= link_to "Start a new conversation", new_message_path, :class => "nav-item nav-link" %>
            <% else %>

              <%= link_to "Sign up", 'signup', :class => "nav-item nav-link"  %> |
              <%= link_to "Sign in", '/signin', :class => "nav-item nav-link"  %>
            <% end %>
          </div>
        </div>
      </nav>





      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <div class="page-header">
        <h1><%= yield :page_header %></h1>
      </div>

    <%= yield %>
  </div>

  </body>
</html>
